# For Python 3.6+
scikit-learn
hdbscan
pandas
numpy
matplotlib
jupyter
seaborn
pillow
pyamg

# This is only the Python bindings for graphviz
# Need to use system installers for graphviz itself
graphviz


